<div class="our-plan text-center">
  <section class="page-header">
      <div class="small-container">
      <h1> All-inclusive pricing made for everyone <strong> Save up to 35% </strong> with annual billing </h1>
      <h5> The #1 product mockup generator </h5>
      </div>
      <div class="animation-element">
          <img class="moving-icon middle-element fadeInLeftBig animated" src="assets/img/square-icon.svg">
          <img class="moving-icon top-element bounceInDown animated" src="assets/img/banner-element2.svg">
          <img class="moving-icon dashed fadeInUpBig animated" src="assets/img/dashed-icon.svg">
          <img class="moving-icon  right-element fadeInRightBig animated" src="assets/img/banner-element2.svg">
          <img class="moving-icon dashed-traiangle bounceInDown animated" src="assets/img/bigtriangle.svg">
          <img class="moving-icon blue-element" src="assets/img/element3.svg">
          <div class="triangle-arrow">
            <img class="big-triangle bounceInUp animated" src="assets/img/triangle-big-arrow.svg">
            <img class="small-triangle bounceInUp animated" src="assets/img/triangle-small-arrow.svg">
          </div>

        </div> 
    </section>

    <div class="content">
      <div class="small-container">
      <div class="personal-plan">
        <h2>Personal</h2>
        <div class="plan-details">
          <div class="price">
            <sup> $</sup>
            <strong>10</strong><sup>.00 </sup>
          </div>
          <ul class="plan-list">
            <li> 1 Month Subscription </li>
            <li> Unlimited Downloads </li>
            <li> 24/7 Support </li>
          </ul>
          <a class="blue-btn" href="#"> Subscribe Now </a>
        </div>
      </div>
    </div>
  </div>

 

  </div>



