<div class="content">
  <div class="app-flex-row flex-row-reverse">
    <div class="main-content text-center">asdfasd fsda
      a sdf
      <div class="product-detail">
        <figure> <img [src]="productData?.front_cover_image" alt="productData?.product_name"/> </figure>
        <a class="blue-btn" href="#"> Download </a>
      </div>
    </div>
    <aside>
      <div class="features-option">
      </div>
      <ul class="features-list">
        <li><a href="#"> <img src="assets/img/upload-icon.png" /> Images </a></li>
        <li class="active"><a href="#"> <img src="assets/img/customize-icon.png" /> Customize </a></li>
      </ul>
    </aside>
  </div>
</div>