<footer>
  <div class="container">
    <div class="app-flex-row appspace-content-between">
      <div class="copyright">
        <a routerLink="/"> <img src="assets/img/apparelad-white.png" alt="Apparelad" /> </a>
        <p> &copy; apparelad - All rights reserved. </p>
      </div>
      <div class="appreal-mockups">
        <h4> Appreal Mockups </h4>
        <ul class="menu">
          <li><a routerLink="/mockups">Hoodies </a></li>
          <li><a routerLink="/mockups">T-shirt </a></li>
          <li><a routerLink="/mockups">Caps </a></li>
        </ul>
      </div>
      <div class="other-links">
        <h4> Other Links </h4>
        <ul class="menu">
          <li><a routerLink="/faq">FAQs </a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/privacy">Privacy & Terms</a></li>
          <li><a href="#">License</a></li>
        </ul>
      </div>
      <div class="stay-connected">
        <h4> Stay Connected </h4>
        <ul class="app-flex-row social-emnu">
          <li class="facebook"><a href="https://www.facebook.com/apparelad/" target="_blank">&nbsp;</a></li>
          <li class="instagram"><a href="https://www.instagram.com/apparelad/" target="_blank">&nbsp;</a></li>
          <!--  <li class="bell-icon"><a href="#" target="_blank">&nbsp;</a></li>
          <li class="twitter"><a href="#" target="_blank">&nbsp;</a></li> -->
          <li class="youtube"><a href="https://www.youtube.com/channel/UCgsGeDvoD-6ZCWWCsbhLIAg"
              target="_blank">&nbsp;</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>